<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button><mat-icon>menu</mat-icon></button>
        <h1>Gestor de Clientes</h1>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav [opened]="true">
        <mat-list>
            <a mat-list-item routerLink="/cliente">Clientes</a>
        </mat-list>
    </mat-sidenav>

    <mat-sidenav-content style="min-height: calc(100vh - 64px)">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
