* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}
h4 {margin: 20px 0 ;}

.cartao {
    display: inline-block;
    width        : 300px;
    padding      : 20px;
    box-shadow   : 0 0 1em rgba(0, 0,0 , 0.3);
    border-radius: 20px;
    font-family  : monospace;
}
.cartao + .cartao {margin-left: 30px;}
.cartao h2 {margin-bottom: 15px;}

hr{
    margin: 20px 0;
}
