<h4>Exercicio 8</h4>

<input type="text" placeholder="Canal do Youtube" [(ngModel)]='canal'>

<ul [ngSwitch]="canal">
    <li *ngSwitchCase=" 'programação web' ">
        <a href="https://www.youtube.com/channel/UCwAa6VoM1GCg7n4s3u9FTAg" target="_blank">Programação Web</a>
    </li>

    <li *ngSwitchCase=" 'cellbit' ">
        <a href="https://www.youtube.com/c/SagaDoCellbit" target="_blank">Cellbit</a>
    </li>

    <li *ngSwitchCase=" 'alanzoka' ">
        <a href="https://www.youtube.com/c/LivesAlanzoka" target="_blank">Alanzoka</a>
    </li>

    <li *ngSwitchCase=" 'anirap' ">
        <a href="https://www.youtube.com/c/AniRap" target="_blank">Anirap</a>
    </li>
    
    <li *ngSwitchDefault>Canal do Youtuber</li>
</ul>
