<h2>Gestor de Jogos</h2>

<ul>
    <li *ngFor="let jogo of jogos">
        <span (click)="selecionarJogo(jogo)">{{jogo.nome}} ({{jogo.plataforma}}) </span>
        <span (click)="excluir(jogo.id)"> X</span>
    </li>
</ul>

<div *ngIf="jogoSelecionado">
    <input type="text" [(ngModel)]="jogoSelecionado.nome">
    <br>

    <select [(ngModel)]="jogoSelecionado.status">
        <option value="na">Não Informado</option>
        <option value="q">Quero</option>
        <option value="t">Tenho</option>
        <option value="j">Jogando</option>
        <option value="z">Zerado</option>
    </select>
    <br>

    <input type="text" [(ngModel)]="jogoSelecionado.plataforma">
    <br>
    <input type="text" [(ngModel)]="jogoSelecionado.genero">

    <br>

    <button (click)="salvar()">Salvar</button>
    <button (click)="cancelar()">Cancelar</button>
</div>

<button (click)="novo()">Novo</button>
