<h2>Gerenciar Clientes</h2>

<ul>
  <li *ngFor="let cliente of listaClientes">
    <span (click)="selecionar(cliente)">{{cliente.nome}} - {{cliente.cpf}} </span>
    <span (click)="excluir(cliente.id)"> x</span>
  </li>
</ul>

<br><br>

<button (click)="novo()">Novo</button>

<br><br>

<div *ngIf="cliente">
  <input type="text" placeholder="Nome" [(ngModel)]="cliente.nome">

  <br><br>

  <input type="text" placeholder="CPF" [(ngModel)]="cliente.cpf">

  <button (click)="cancelar()">Cancelar</button>
  <button (click)="salvar()">Salvar</button>
</div>
